*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F6E5DC;
    font-family: Verdana;
    position: relative;
}
img{
    height: 350 px;

}
.img{
    width: 60%;
}

.header{
    background-color:#2F180C;
    color: khaki;
    height: 60 px;

}

.main {
    display: flex;
}

.div1{
    font-size: 150%;
    justify-content: right;
    text-align: center;
    padding: 70px;
}

.div2{
    background-color: #D0B6A8;
    padding: 30px;
    text-align: center;
    
}

.footer{
    background-color: #2F180C;
    color: khaki;
    height: 60px;
}


button{
    background-color: #2F180C;
    color: khaki;
    margin: 10 px;
    padding: 5 px;
}
.inputlabel{
    justify-content: center;
}